@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --page-top-mobile: 4rem;
    --page-top: 8rem;
    --page-bottom-mobile: 1.5rem;
    --page-bottom: 3rem;
  }

  ::selection {
    background-color: #fff9a8;
    color: #000;
  }

  :focus,
  :focus-visible {
    outline-color: #6f6f6f;
  }

  ::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 15px;
    width: auto;
    height: 1.25rem;
    background: #a3a3a3;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4;
  }

  @media (prefers-color-scheme: dark) {
    :focus,
    :focus-visible {
      outline-color: #a0a0a0;
    }

    ::-webkit-scrollbar-thumb {
      background: #404040;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: #525252;
    }
  }
}
